.boxWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  padding: 1rem 0;

  @media only screen and (min-width: 600px) {
    padding: 1.25rem 0;
  }

  > img {
    height: 100%;
    min-width: 150px;

    @media only screen and (min-width: 600px) {
      margin: 0 0;
      width: 320px;
      height: 100%;
    }
  }

  .logoutBox {
    display: flex;
    margin-left: 1rem;

    @media only screen and (min-width: 600px) {
      display: none;
    }

    > button {
      padding: 0 1rem;
      border-style: none;
      background-color: transparent;

      font-size: 1rem;
      color: white;

      cursor: pointer;
    }
  }
}
