.sendMessageFormWrapper {
  position: absolute;
  left: -1rem;
  bottom: 0;

  width: 100vw;

  @media only screen and (min-width: 600px) {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: center;

    width: 100%;

    padding: 24px;
    background: #1b1b1f;
  }
}

.signOutButton {
  display: none;

  @media only screen and (min-width: 600px) {
    display: block;

    position: absolute;
    left: 24px;
    top: 24px;

    border: 0;
    background: transparent;

    color: #c4c4cc;

    cursor: pointer;

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.userInformation {
  display: none;

  @media only screen and (min-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .userImage {
    padding: 3px;
    border-radius: 50%;
    background: linear-gradient(100deg, #ff008e 0.48%, #ffcd1e 100%);

    line-height: 0;

    img {
      width: 94px;
      height: 94px;
      border: 6px solid #121214;
      border-radius: 50%;
    }
  }

  .userName {
    margin-top: 16px;

    font-size: 24px;
    line-height: 30px;
  }

  .userGithub {
    display: flex;
    align-items: center;

    margin-top: 8px;
    color: #c4c4cc;

    svg {
      margin-right: 8px;
    }
  }
}

.sendMessageForm {
  display: flex;
  flex-direction: column;
  align-self: stretch;

  margin-top: 48px;
  background: #202024;

  label {
    display: none;

    @media only screen and (min-width: 600px) {
      display: block;

      padding: 18px 24px;
      background: #29292e;

      font-size: 20px;
      font-weight: bold;
      text-align: left;
    }
  }

  textarea {
    height: 100px;
    padding: 1rem;
    border: 0;
    background: transparent;

    font-size: 16px;
    line-height: 24px;
    color: #e1e1e6;

    resize: none;

    @media only screen and (min-width: 600px) {
      height: 160px;
      padding: 24px;
    }

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: #8d8d99;
    }
  }

  button {
    height: 3rem;
    margin: 1rem;
    padding: 0 32px;
    border: 0;
    background: #ff008e;

    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    cursor: pointer;

    @media only screen and (min-width: 600px) {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: flex-end;

      margin: 1.5rem;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }
}
