.loginBoxWrapper {
  position: absolute;
  bottom: 0;

  width: 100%;

  text-align: center;

  @media only screen and (min-width: 600px) {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 440px 80px 0;
    height: 100vh;
    background: #17171a url(../../assets/banner-girl.png) no-repeat center top;
  }

  strong {
    display: none;

    @media only screen and (min-width: 600px) {
      display: block;
      font-size: 2rem;
      line-height: 2.25rem;
    }
  }

  .signInWithGithub {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 56px;
    padding: 0 40px;
    margin: 1rem 0;
    background: #ffcd1e;

    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #09090a;
    text-decoration: none;

    @media only screen and (min-width: 600px) {
      margin-top: 32px;
    }

    svg {
      margin-right: 16px;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }
}
